@font-face {
  font-family: 'Raleway';
  src: url(/fonts/raleway/Raleway-Regular.ttf);
  font-weight: normal;
}

body {
  font-family: 'Raleway', Verdana, sans-serif;
  width: 99%;
  height: auto;
}
#bloc_page {
  width: 98%;
  margin: auto;
}
.bloclogo{
  padding: 1rem 0rem;
}
#logo_reservia {
  height: 2.813rem;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
  margin-bottom: 0.67em;
}
h3{
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.headerlien{
  display: flex;
  position: absolute;
  right: 8rem;
}
.headerNav:hover{
  border-top: 3px solid #0065FC;
  margin-top: -3px;
}
.headerNav1{
  padding: 2rem;
  font-weight: bold;
  color: #0065FC;
}
.headerNav2{
  padding: 2rem;
  font-weight: bold;
  margin-right: 32px;
}
.headerNav{
  padding: 2rem;
  font-weight: 500;
  text-align: center;
}
.headerNavlien{
  padding: 2rem;
}
.headerSignup{
  padding: 2rem;
  color: #0065FC;
  font-weight: bold;
}
.barregeneral{
  display: flex;
}
.iconemaposition{
  background-color: #F2F2F2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
  cursor: pointer;
}
.barrederecherche {
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  max-height: 100%;
}
.bouttonrecherche{
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  cursor: pointer;
}
.bouttonrecherche_loupe{
  display: none;
}
.rechercheFiltres{
  justify-content: space-between;
  align-items: center;
  width: 80%;
  display: flex;
  margin-top: 2rem;
}
.rechercheFiltresTitre{
  margin-right: 15px;
}
.filtregeneral:hover{
  transform: scale(1.01);
  box-shadow: 0px 0px 16px #0000002e;
}
.filtregeneral{
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  margin: 5px;
  width: fit-content;
}
.Filtresroman, .Filtresanimaux, .Filtreseco, .Filtresefami{
  display: flex;
  align-items: center;
  margin-right: 0px;
  font-weight: bold;
}
.Filtresecologo{
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}
.Filtreecotitre{
  margin: 0 1rem;
}
.resultatrecherche{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}
.resultatrechercheicone{
  height: 2rem;
  width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.fa, .fas {
  font-weight: 900;
  color: #0065FC;
}
#contenerGlobal {
  display: flex;
  width: 100%;
  height: 35rem;
  justify-content: space-between;
}
.titrecase{
  height: 10%;
}
#case1 {
  background-color: #F2F2F2;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding-bottom: 1%;
  padding-left: 32px;
  padding-right: 32px;
  width: 55%;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  height: 100%;
  justify-content: space-between;
}
#premierligne {
  display: flex;
  width: 100%;
  height: 33%;
  justify-content: space-around;
}
figure{
  margin: auto; 
}
.BulleA:hover{
  transform: scale(1.01);
}
.BulleA a {
  width: 100%;
}
.BulleA {
  display: flex;
  justify-content: space-between;
  border-radius: 1.25rem;
  width: 30%;
  background-color: #FFFFFF;
  cursor: pointer;
  padding: 0.270rem;
  box-shadow: 0px 0px 16px #0000002e;
  transition-duration: 0.1s;
  box-sizing: border-box;
}
.photosA {
  height: 7rem;
  object-fit: cover;
  width: 100%;
  border-radius: 1.25rem 1.25rem 0 0;
}
.titretextA {
  margin: 0.25rem 0.75rem 0 0.75rem;
  font-size: 14px; 
}
.prixtexteA {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
  font-size: 10px;
}
.etoileA{
  margin-left: 10px;
}
.etoileA, .i_bleu {
  
  display: flex;
  color: #0065FC;
}
.etoileA, .i_gris {
  color: gray;
  
}
#deuxiemligne {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 20px;
  height: 33%;
}
.afficherplus{
  margin-bottom: 20px;
  width: fit-content;
  width: -moz-fit-content;
  font-weight: bold;
}
#case2 {
  background-color: #F2F2F2;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  width: 27%;
  height: 96%;
  border-radius: 1.5rem;
  justify-content: space-evenly;
}
.lespluspopulaire{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 28px 0px;
}
.lespluspopulaire i{
  color: black;
  font-size: 20px;
  margin-top: 6px;
} 

#Activites{
  margin-top: 39px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.BulleB:hover{
  transform: scale(1.01);
}
.BulleB {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 25%;
  margin-bottom: 10%;
}
.ligneB{
  height: 100%;
}
.BulleBglobalB{
  display: flex;
  align-items: stretch;
  height: 100%;
}
a{
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
.photoB{
  position: relative;
  min-height: 100%;
  width: 33%;
}
.photosbulleB{
  border-radius: 1rem 0 0 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.texteBglobal{
  display: flex;
  flex-direction: column;
}
.titretextB{
  margin: 0.25rem 0.75rem 0 0.75rem;
}
.prixtexteB{
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
.prixbulleB{
  font-weight: bold;
}
.espaceblanc{
  flex: 1;
}
.etoileB{
  margin: 0 0.75rem 0.25rem 0.75rem;
}
#contenerGlobal2 {
  display: flex;
  width: 100%;
  height: 30rem;
}
.h2_activites{
  margin-top: 60px;
  margin-bottom: 6px;
}
.case3 {
  display: flex;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding-bottom: 32px;
  padding-right: 15px;
  padding-left: 0px;
  padding-top: 8px;
  width: 50%;
}
.figcaptioncase3{
  height: 30px;
  font-weight: bold;
  margin: 8px 0px 0px 15px;
}
.blocA:hover{
  transform: scale(1.01);
  cursor: pointer;
}
.blocA{
  width: 50%;
}
.vieuxport{
  width: 100%;
  height: 95%;
  margin: 10px 24px 10px -10px;
  box-shadow: 0px 0px 10px #0000002e;
  border-radius: 1.25rem;
}
.fortdepome:hover{
  transform: scale(1.01);
  cursor: pointer;
}
.fortdepome{
  margin: auto;
  width: 100%;
  height: 50%;
  box-shadow: 0px 0px 16px #0000002e;
  border-radius: 1.25rem;
}
.ilesdufrioul:hover{
  transform: scale(1.01);
  cursor: pointer;
}
.ilesdufrioul{
  margin: auto;
  width: 100%;
  height: 35%;
  box-shadow: 0px 0px 16px #0000002e;
  border-radius: 1.25rem;
}
.photoAA{
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}
.photosBB{
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}
.blocB{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 0px;
}
.parcnational{
  width: 100%;
  height: 95%;
  margin: 10px 24px 10px 0px;
  box-shadow: 0px 0px 16px #0000002e;
  border-radius: 1.25rem;
}
.notredame:hover{
  transform: scale(1.01);
  cursor: pointer;
}
.notredame{
  margin: auto;
  width: 100%;
  height: 35%;
  box-shadow: 0px 0px 16px #0000002e;
  border-radius: 1.25rem;
}
.parclongchamp:hover{
  transform: scale(1.01);
  cursor: pointer;
}
.parclongchamp{
  margin: auto;
  width: 100%;
  height: 50%;
  box-shadow: 0px 0px 16px #0000002e;
  border-radius: 1.25rem;
}
.photosCC{
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}
h4{
  margin: -9px 0px 10px;
}
#case4 {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding-bottom: 32px;
  padding-right: 0px;
  padding-left: 25px;
  padding-top: 8px;
  width: 50%;
  display: flex;
}
#conteneurGlobal3{
  display: flex;
  justify-content: space-around;
  width: 100%;
  justify-content: flex-start;
  background-color: #F2F2F2;
}
.footer1, .footer2, .footer3{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: 25%;
  margin-left: 35px;
}
a{
  color: inherit;
  text-decoration: none;
}

@media all and (max-width: 995px) and (min-width: 500px) {
body{
  width: 100%;
  border-right-width: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
#bloc_page{
  margin-left: 10px;
  margin-right: 10px;
}
.headerSignup{
  margin-right: 10px;
}
h1{
  width: 95%;
}
.rechercheFiltres{
  width: 95%;
  flex-wrap: wrap;
}
#contenerGlobal{
  width: 100%;
  height: auto;
  flex-direction: column;
}
#Hebergement{
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 15px;
}
#case1{
  width: 95%;
  margin-bottom: 25px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.afficherplus{
  margin-top: 20px;
  margin-left: 15px;
}
#case2{
  width: 95%;
  margin-bottom: 25px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.lespluspopulaire{
  width: 100%;
  margin-left: 16px;
}
.BulleB{
  margin-bottom: 5%;
  width: 100%;
  margin-left: 16px;
}
.BulleBglobalB{
  height: 100%;
}
.ligneB{
  width: 95%;
}
h4{
  font-size: 13px;
}
#contenerGlobal2{
  width: 99%;
  height: 28rem;
}
.photoAA{
  height: 88%;
}
.vieuxport{
  margin-left: 0px;
}
}
@media all and (max-width: 731px) and (min-width: 500px) {
  h3 {
    font-size: 12px;
  }
  .titretextB {
    font-size: 17px;
  }
  .etoileA {
    font-size: 13px;
  }
  .headerNav, .headerNav2 {
    margin-right: 0px;
  }
}

@media all and (max-width: 545px) and (min-width: 500px){
body{
  margin: 0px;
  }
#bloc_page{
  width: 100%;
  height: auto;
  }
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#logo_reservia{
  margin-left: 15px;
}
.headerSignup{
  position: absolute;
  right: 1rem;
  height: auto;
}
.headerlien {
  display: flex;
  flex-direction: column;
  position: initial;
  flex-direction: initial;
  width: 100%;
  height: auto;
}
.headerNav{
  width: 50%;
  padding-bottom: 10px;
}
.headerNav:hover{
  border-top: 3px solid transparent;
  border-bottom: 3px solid #0065FC;
}
.headerNav1{
  border-bottom: 3px solid;
}
.headerNav2{
  border-bottom: 3px solid #f2f2f2;
  margin-right: 0px;
}
h1 {
  font-size: 20px;
  margin-left: 15px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 25px;
  text-align: left;
}
.centre_ville{
  margin-left: 15px;
  margin-bottom: 35px;
}
.rechercheFiltres{
  display: block;
  }
.rechercheFiltresTitre {
    font-size: 19px;
  }
  .filtregeneral{
    margin-right: 0px;
    margin-left: 0px;
  }
.barrederecherche{
  padding-left: 15px;
  padding-right: 8px;
}
.bouttonrecherche{
  width: 40%;
  padding-left: 0px;
  padding-right: 5px;
  display: none;
}
.bouttonrecherche_loupe{
  display: block;
}
.barregeneral{
  margin-left: 15px;
  display: flex;
  width: 92%;
}
.rechercheFiltres{
  margin-left: 15px;
}
.resultatrecherche {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}
#contenerGlobal{
  display: flex;
  flex-direction: column-reverse;    
  width: 100%;
  height: auto;
  justify-content: space-between;
  }
  #case1 {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding-bottom: 1%;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  height: 100%;
  justify-content: space-between;
  width: 100%;
  background-color: #FFFFFF;
}
#premierligne {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: space-around;
}
#deuxiemligne {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  height: 30%;
}
.afficherplus {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.BulleA {
  display: flex;
  justify-content: space-between;
  border-radius: 1.25rem;
  background-color: #FFFFFF;
  width: 95%;
  height: 100%;
  cursor: pointer;
  padding: 0.27rem;
  margin: 0.50rem;
  box-shadow: 0px 0px 16px #0000002e;
  transition-duration: 0.1s;
  box-sizing: border-box;
}
#Hebergement{
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 50px;
  text-align: left;
  font-size: 22px;
}
#case2 {
  background-color: #F2F2F2;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 0px;
  width: 100%;
  height: 96%;
  border-radius: 0px;
  justify-content: space-evenly;
}
.BulleB {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 130px;
  margin-bottom: 10%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.lespluspopulaire{
  margin-left: 15px;
  margin-right: 15px;
  font-size: 22px;
}
#contenerGlobal2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.case3 {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  width: 95%;
  height: 100%;
  margin: auto;
  padding-right: 0px;
  padding-bottom: 0px;
}
.blocA {
  width: 100%;
  height: 30%;
  margin-bottom: 2px;
}
.photoAA {
  width: 100%;    
  height: 130px;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}
.photosBB {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}
.photosCC{
  width: 100%;
  height: 130px;
}
#Activites {
  font-size: 22px;
}
.blocB {
  width: 100%;
  height: 100%;
  padding-left: 0%;
}
.fortdepome, .notredame, .parclongchamp{
  width: 100%;
  height: 30%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.ilesdufrioul{
  width: 100%;
  height: 30%;
  margin-top: 10px;
}
.vieuxport{
  margin-right: auto;
  margin-left: auto;
}
.parcnational{
  margin-left: auto;
  margin-right: auto;
}
#case4 {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding-bottom: 32px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
#conteneurGlobal3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  background-color: #F2F2F2;
}
.footer1, .footer2, .footer3{
  width: 80%;
}
.footercase1{
  margin-bottom: 8px;
}
}

@media all and (max-width: 550px) {
.headerSignup {
  right: 0px;
  padding-right: 15px;
}
.headerNav, .headerNav2 {
  padding-left: 10px;
  padding-right: 10px;
}  
h1 {
  font-size: 15px;
}
.resultatrecherche {
  font-size: 10px;
}
.centre_ville {
  font-size: 11px;
}
.lespluspopulaire {
  font-size: 18px;
}
.titretextB {
  margin-right: 0px;
}
#Hebergement {
  font-size: 16px;
}
.BulleA a {
  width: 100%;
  height: 163px;
}
#Activites {
  font-size: 18px;
}
.figcaptioncase3 {
  height: 40px;
  margin: 14px 0px 0px 15px;
}
.footer1, .footer2, .footer3 {
  margin-left: 15px;
}
}





